.menu_navegacao{
    display: flex;
    gap: 3em;
    justify-content: center;
    position: relative;
    right: 2.8em;
    transform: translate(3em, -4.5em);
}

.navegacao-home {
    background-color: #2d7c3f;
    width: 307px;
    height: 59px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px
    
}


.navegacao-home:hover {
    color: #73ff00; /* cor mais escura no hover */
    text-decoration: underline;
    background-color: #00ff2a;
    opacity: 90%;
}