@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("/static/styles/header.css");
@import url("/static/styles/servicos.css");
@import url("/static/styles/navegacao.css");
@import url("/static/styles/banner.css");
@import url("/static/styles/footer.css");
@import url("/static/styles/banner2.css");
@import url("/static/styles/jardinagem.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}